{% load static i18n %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Travel Maker{% endblock title %}</title>

    {% block css %}
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
              rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
              rel='stylesheet' type='text/css'>

        <!-- jquery-ui CSS -->
        <link href="{% static 'vendor/jquery-ui/themes/base/jquery-ui.css' %}" rel="stylesheet">

        <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

        <link href="{% static 'vendor/nouislider/distribute/nouislider.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock css %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">
<div class="container">
    {% block nav %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid navbar-inner">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-5 navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-collapse"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="/">Travel Maker</a>
                    </div>

                    <div class="col-md-5 collapse navbar-collapse" id="navbar-collapse" aria-expanded="true">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="page-scroll" href="{% url 'travel_info:list' %}">여행지 검색</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="{% url 'travel_schedule:list' %}">여행일정 검색</a>
                            </li>
                            <li class="dropdown">
                                {% if user.is_authenticated %}
                                    <a href="#" class="dropdown-toggle" id="drop"
                                       data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        {% if user.thumbnail %}
                                            <img class="img-circle user-thumbnail" src="{{ user.thumbnail.url }}">
                                        {% else %}
                                            <img class="img-circle user-thumbnail"
                                                 src="{% static 'img/no-photo.png' %}">
                                        {% endif %}
                                        {% if user.username %}
                                            {{ user.username }}
                                        {% else %}
                                            {{ user.email }}
                                        {% endif %}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="page-scroll" href="{{ user.get_absolute_url }}">마이페이지</a></li>
                                        <li>
                                            <a class="page-scroll" href="{% url 'socialaccount_connections' %}">
                                                SNS 연동
                                            </a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li><a class="page-scroll" href="{% url 'account_logout' %}">로그아웃</a></li>
                                    </ul>
                                {% else %}
                                    <a class="page-scroll" href="{% url 'account_login' %}">로그인</a>
                                {% endif %}
                            </li>
                            {% if not user.is_authenticated %}
                                <li>
                                    <a class="page-scroll" href="{% url 'account_signup' %}">회원가입</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </div>
        </nav>
    {% endblock nav %}
</div>

{% block header %}
{% endblock header %}

<div class="container">
    {% block content %}
    {% endblock content %}
</div>

{% block ext_content %}
{% endblock ext_content %}

{% block javascript %}

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Raty JavaScript -->
    <script src="{% static 'vendor/raty/jquery.raty.js' %}"></script>

    <!-- jquery-ui JavaScript -->
    <script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- js-cookie JavaScript -->
    <script src="{% static 'vendor/js-cookie/src/js.cookie.js' %}"></script>

    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'vendor/nouislider/distribute/nouislider.min.js' %}"></script>

    <script src="{% static 'js/base.js' %}"></script>

    <script>
        $(document).ready(function () {
            {% if messages %}
                {% for message in messages %}
                    {% if message.level >= DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        alert('{{ message }}');
                    {% endif %}
                {% endfor %}
            {% endif %}
        })
    </script>

{% endblock javascript %}

{% block ga %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-91208113-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock %}
</body>

</html>
