{% load static %}

{% if google_reviews or travel_reviews %}
    <div class="row">
        <div id="item-reviews-info">
            <h3>여행지 리뷰</h3>
            <div class="spacer-sm"></div>
            {% for review in google_reviews %}
                <div class="review google-review">
                    <input class="review-id" type="hidden" value="{{ review.id }}">
                    <div class="row">
                        <div class="col-md-1">
                            {% if review.profile_photo_url %}
                                <img class="review-user-profile-img img-circle"
                                     src="https:{{ review.profile_photo_url }}" alt="">
                            {% else %}
                                <img class="review-user-profile-img img-circle"
                                     src="{% static 'img/no-photo.png' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="row col-md-11">
                            <div class="review-user-name row">
                                {{ review.author_name }}
                            </div>
                            <div class="row">
                                <div class="review-rating col-md-2">
                                    <div id="google-rating-{{ review.id }}"></div>
                                </div>
                                <div class="review-time col-md-7">
                                    {{ review.time }}
                                </div>
                                <div class="review-ext col-md-3">
                                    <span class="btn-tm-default btn-up {% if review.does_user_already_vote %}
                                            btn-active{% endif %}">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        좋아요 <span class="likes">{{ review.updown.likes }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer-sm"></div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="review-content col-md-11">
                            {{ review.text }}
                        </div>
                    </div>
                </div>
                <div class="spacer-sm divider"></div>
                <div class="spacer-sm"></div>
            {% endfor %}
            {% for review in travel_reviews %}
                <div class="review">
                    <input class="review-id" type="hidden" value="{{ review.id }}">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="{{ review.owner.get_absolute_url }}">
                                {% if review.owner.thumbnail %}
                                    <img class="review-user-profile-img img-circle"
                                         src="{{ review.owner.thumbnail.url }}" alt="">
                                {% else %}
                                    <img class="review-user-profile-img img-circle"
                                         src="{% static 'img/no-photo.png' %}" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <div class="row col-md-11">
                            <div class="review-user-name row">
                                <a href="{{ review.owner.get_absolute_url }}">
                                    {{ review.owner.username }}
                                </a>
                            </div>
                            <div class="row">
                                <div class="review-rating col-md-2">
                                    <div id="travel-rating-{{ review.id }}"></div>
                                </div>
                                <div class="review-time col-md-7">
                                    {{ review.updated }}
                                </div>
                                <div class="review-ext col-md-3">
                                    <span class="btn-tm-default btn-up {% if review.does_user_already_vote %}
                                            btn-active{% endif %}">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        좋아요 <span class="likes">{{ review.updown.likes }}</span>
                                    </span>
                                    {% if user == review.owner %}
                                        <a class="btn-danger btn-del" href="{% url 'travel_review:delete' review.id %}">
                                            <i class="fa fa-trash-o"></i> 삭제
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer-sm"></div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11 review-content">
                            {% if review.tags.all %}
                                <div class="tags">
                                    <i class="fa fa-tags"></i> {{ review.tags.all|join:', ' }}
                                </div>
                                <div class="spacer-sm"></div>
                            {% endif %}
                            {{ review.content|safe }}
                        </div>
                    </div>
                </div>
                <div class="spacer-sm divider"></div>
                <div class="spacer-sm"></div>
            {% endfor %}
        </div>
    </div>
    <div class="spacer-sm"></div>
{% endif %}