{% if travelinfo.defaulttraveldetailinfo_set.all or travelinfo.tourcoursedetailinfo_set.all or travelinfo.lodgingdetailinfo_set.all %}
    <div class="row">
        <div id="item-detail-info">
            <h3>상세 정보</h3>
            <div class="spacer-sm"></div>
            {% if travelinfo.contenttype.name == "관광지" %}
                {% for detailinfo in travelinfo.defaulttraveldetailinfo_set.all %}
                    <h5>{{ detailinfo.infoname }}</h5>
                    <p>{{ detailinfo.infotext }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}