<div class="modal fade" id="event-control-modal" tabindex="-1" role="dialog"
         aria-labelledby="event-control-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="delete-modal-label">이벤트 관리</h4>
                </div>
                <div class="modal-body">
                    이벤트에 대해 수행하실 작업을 선택해 주세요.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-tm" data-dismiss="modal">여행지 정보 보기</button>
                    <button class="btn btn-danger" id="del-event" data-eventid="" data-dismiss="modal">
                        이벤트 삭제
                    </button>
                </div>
            </div>
        </div>
    </div>