<div class="modal fade" id="event-control-modal" tabindex="-1" role="dialog"
     aria-labelledby="event-control-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="delete-modal-label">이벤트 관리</h4>
            </div>
            <div class="modal-body">
                이벤트에 대해 수행하실 작업을 선택해 주세요.
            </div>
            <div class="modal-footer">
                <button id="show-travelinfo" class="btn btn-tm-default" data-travelinfo="" data-dismiss="modal">
                    여행지 정보 보기
                </button>
                <button id="show-event-add-modal" class="btn btn-tm-default" data-eventid="" data-dismiss="modal">
                    여행 일정에 추가
                </button>
                <button id="show-nearby-items" class="btn btn-tm-default btn-inner-event" data-dismiss="modal">
                    주변 여행지 검색
                </button>
                <button id="show-event-change-modal" class="btn btn-tm-default btn-inner-event" data-dismiss="modal">
                    시간 변경
                </button>
                <button id="del-event" class="btn btn-danger btn-inner-event" data-eventid="" data-dismiss="modal">
                    이벤트 삭제
                </button>
                <button class="btn btn-default" data-dismiss="modal">
                    취소
                </button>
            </div>
        </div>
    </div>
</div>