{% load static %}

<div class="row">
    {% for schedule in travelschedule_list %}
        <div class="col-md-6">
            <a class="schedule-item-link" href="{{ schedule.get_absolute_url }}">
                <div class="schedule-item-bg">
                    <div class="schedule-item">
                        <div class="owner-info">
                            <span>
                                <img class="img-thumbnail owner-img"
                                     src={% if schedule.owner.thumbnail %}
                                         "{{ schedule.owner.thumbnail.url }}"
                                     {% else %}
                                         "{% static 'img/no-photo.png' %}"
                                     {% endif %}>
                            </span>
                            <span class="owner-name">
                                {% if schedule.owner.username %}
                                    {{ schedule.owner.username }}
                                {% else %}
                                    {{ schedule.owner.email }}
                                {% endif %}
                            </span>
                            {% if user == schedule.owner %}
                                <button class="btn btn-danger btn-xs hidden delete"
                                        data-toggle="modal" data-target="#schedule-delete-modal"
                                        data-id="{{ schedule.id }}"
                                        data-title="{{ schedule.title }}">
                                    <i class="fa fa-trash"></i>
                                </button>
                            {% endif %}
                        </div>
                        <div class="center">
                            <h2 class="schedule-item-title">{{ schedule.title }}</h2>
                            <div class="schedule-item-overview">
                                <div>{{ schedule.start }} ~ {{ schedule.end }}
                                    ({{ schedule.duration_days }}일)
                                </div>
                                <div class="spacer-xs"></div>
                                <div>여행인원 {{ schedule.people_count }}명</div>
                                <div class="spacer-xs"></div>
                                <div>{{ schedule.tags.all|join:', ' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="spacer-sm"></div>
        </div>
    {% empty %}
        <div class="center">
            <img class="empty-img" src="{% static 'img/empty.png' %}">
            <div class="spacer-sm"></div>
            <div class="empty-text">여행 일정이 없습니다</div>
        </div>
    {% endfor %}
</div>

{% if user == tmuser %}
    <div class="spacer-sm"></div>
    <div class="center">
        <a class="btn btn-tm-default" href="{% url 'travel_schedule:create' %}">여행 일정 만들기</a>
    </div>
{% endif %}
