<div class="scedule-item-pannel">
    {% if user == travelschedule.owner %}
        <div class="box schedule-update">
            <a href="{% url 'travel_schedule:update' travelschedule.id %}">
                <button class="btn btn-block btn-tm-default" type="submit">여행일정 정보 설정</button>
            </a>
            <div class="spacer-xs"></div>
            <a href="{% url 'travel_schedule:calendar_update' travelschedule.id %}">
                <button class="btn btn-block btn-tm-default" type="submit">여행일정표 변경</button>
            </a>
            <div class="spacer-xs"></div>
            <div class="btn-group btn-group-justified btn-group-ispublic" role="group">
                <div class="btn-group" role="group">
                    <button id="btn-ispublic-true"
                            class="btn {% if travelschedule.is_public %}btn-active{% else %}btn-inactive{% endif %}">
                        공개
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button id="btn-ispublic-false"
                            class="btn {% if travelschedule.is_public %}btn-inactive{% else %}btn-active{% endif %}">
                        비공개
                    </button>
                </div>
            </div>

        </div>
        <div class="spacer-xs"></div>
    {% endif %}
    <div class="box schedule-util">
        <span class="btn btn-tm-default btn-up {% if travelschedule.does_user_already_vote %}btn-active{% endif %}">
            <i class="fa fa-thumbs-o-up fa-lg"></i>
            <span class="likes">{{ travelschedule.updown.likes }}</span>
            <br><span class="text">좋아요</span>
        </span>
        <a class="btn btn-tm-default btn-bookmark" href="javascript:void(0)">
            <form action="{% url 'travel_bookmark:schedule_create' %}" method="post">
                {% csrf_token %}
                <input name="travel_schedule" type="hidden" value="{{ travelschedule.id }}">
            </form>
            <i class="fa fa-bookmark-o fa-lg"></i>
            <span class="bookmarks">{{ travelschedule.schedulebookmark_set.all.count }}</span>
            <br><span class="text">책갈피</span>
        </a>
        <span class="btn btn-tm-default btn-clip">
            <i class="fa fa-share-square-o fa-lg"></i>
            <br><span class="text">퍼가기</span>
        </span>
    </div>
    <div class="spacer-xs"></div>
    <div class="box center">
        <a href="{{ travelschedule.owner.get_absolute_url }}">
            <img class="owner-img" src="{{ travelschedule.owner.thumbnail.url }}">
        </a>
        <div class="spacer-xs"></div>
        <a href="{{ travelschedule.owner.get_absolute_url }}">
            <div class="owner-username">
                {% if travelschedule.owner.username %}
                    {{ travelschedule.owner.username }}
                {% else %}
                    {{ travelschedule.owner.email }}
                {% endif %}
            </div>
        </a>
    </div>
</div>