<div class="scedule-item-pannel">
    {% if user == travelschedule.owner %}
        <div class="box schedule-update">
            <a href="{% url 'travel_schedule:update' travelschedule.id %}">
                <button class="btn btn-block btn-tm" type="submit">여행일정 정보 설정</button>
            </a>
            <div class="spacer-xs"></div>
            <a href="{% url 'travel_schedule:calendar_update' travelschedule.id %}">
                <button class="btn btn-block btn-tm" type="submit">여행일정표 변경</button>
            </a>
            <div class="spacer-xs"></div>
            <div class="btn-group btn-group-justified btn-group-ispublic" role="group">
                <div class="btn-group" role="group">
                    <button id="btn-ispublic-true"
                            class="btn {% if travelschedule.is_public %}btn-active{% else %}btn-inactive{% endif %}">
                        공개
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button id="btn-ispublic-false"
                            class="btn {% if travelschedule.is_public %}btn-inactive{% else %}btn-active{% endif %}">
                        비공개
                    </button>
                </div>
            </div>

        </div>
        <div class="spacer-xs"></div>
    {% endif %}
    <div class="box">
        <button id="btn-up" class="btn btn-block btn-tm">
            좋아요 <span id="likes">{{ travelschedule.updown.likes }}</span>
        </button>
    </div>
    <div class="spacer-xs"></div>
    <div class="box center">
        <a href="{{ travelschedule.owner.get_absolute_url }}">
            <img class="owner-img" src="{{ travelschedule.owner.thumbnail.url }}">
        </a>
        <div class="spacer-xs"></div>
        <a href="{{ travelschedule.owner.get_absolute_url }}">
            <div class="owner-username">
                {% if travelschedule.owner.username %}
                    {{ travelschedule.owner.username }}
                {% else %}
                    {{ travelschedule.owner.email }}
                {% endif %}
            </div>
        </a>
    </div>
</div>