* {
    font-family: '나눔고딕', 'Nanum Gothic';
}

.center {
    text-align: center;
}

.spacer-xs {
    padding-bottom: 10px;
}

.spacer-sm {
    padding-bottom: 30px;
}

.spacer-md {
    padding-bottom: 50px;
}

.spacer-lg {
    padding-bottom: 70px;
}

.spacer-xl {
    padding-bottom: 100px;
}

.btn-tm {
	color: #fff;
	background-color: #4292c6 !important;
	border-color: #2171b5;
}

.btn-tm {
	background-image: -webkit-linear-gradient(top,#4292c6 0,#2171b5 100%);
	background-image: -o-linear-gradient(top,#4292c6 0,#2171b5 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#4292c6),to(#2171b5));
	background-image: linear-gradient(to bottom,#4292c6 0,#2171b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #2171b5;
}

.btn-tm {
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}

.btn-tm:focus, .btn-tm:hover {
    color: #fff;
    border-color: #204d74;
}

.navbar-default {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
    color: #F05F40;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222222;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: #F05F40;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    color: #F05F40 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-default {
        background: rgba(67, 146, 199, 0.85) none !important;
        border-color: rgba(255, 255, 255, 0.3);
    }

    .navbar-default .navbar-header .navbar-brand {
        color: white;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: white;
    }

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color: white;
    }

    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: white;
    }

    .navbar-default.affix {
        background-color: rgba(67, 146, 199, 0.85);
        border-color: rgba(34, 34, 34, 0.05);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        color: white;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: white;
    }

    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus {
        color: white;
    }

    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
        color: #F05F40;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-bottom: 50px;
}

header a {
    color: white;
}

@media (min-width: 768px) {
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }

    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    header .header-content .header-content-inner h1 {
        font-size: 50px;
    }

    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.user-thumbnail {
    width: 30px;
    height: 30px;
}

#mainNav {
	padding-left: 200px;
    padding-right: 200px;
}

.navbar-brand {
	line-height: 30px;
    font-size: 18px;
}

.navbar-nav > li > a {
	line-height: 30px;
}

.navbar-right a {
    font-size: 14px !important;
}

.delete-user a {
    float: right;
    color: grey;
}