#map {
    width: 100%;
    height: 300px;
}

#map-show-more {
    width: 100%;
    height: auto;
}

#map.extend {
    height: 900px;
}

.travel-info-items img {
    width: 300px;
    height: 200px;
}

.item-stat-count {
    color: rgba(67, 146, 199, 1);
    font-size: 22px;
}

.item-stat-title {
    font-size: 15px;
}

.travel-info-items a {
    color: #404041 !important;
}

.stat-area {
    margin-left: 40px;
}

.travel-info-title {
    font-size: 30px;
}

.travel-info-index {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 0;
    height: 0;
    border-width: 32px;
    border-style: solid;
    border-color: #4292c6 transparent transparent #4292c6;
}

.travel-info-index p {
    position: relative;
    top: -32px;
    left: -32px;
    margin: 6px 0px 0px 10px;
    color: #fff;
    font-size: 14px;
    text-align: left;
}

#item-header {
    background: #4292c6;
}

#item-header {
    color: white !important;
}

#item-header div {
    color: white !important;
}

#item-header a {
    color: white !important;
}

.item-header-divider {
    border-bottom: 1px solid #fff;
}

.divider {
    border-bottom: 1px solid #cecece;
}

.item-header-right {
    font-size: 15px;
}

.item-title {
    font-size: 36px;
}

.item-info-text {
    margin-left: 10px;
    color: #122b40;
    font-size: 15px;
}

#item-info p {
    color: #122b40;
    font-size: 15px;
}

#carousel-generic {
    width: 500px;
}

.navbar {
    margin-bottom: 0px;
}

.review-user-profile-img {
    width: 40px;
    height: 40px;
}

.review-user-name {
    color: #122b40;
    font-size: 15px;
    font-weight: bold;
}

.review-time {
    color: #23527c;
    font-size: 12px;
}

#rating-text {
    margin-left: 10px;
    font-size: 18px;
}

#item-header-top .item-header-right {
    margin-top: 20px;
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.btn.active, .btn:active {
    box-shadow: inset 0 6px 10px rgba(0, 0, 0, .3);
}

.search {
    margin-right: 10px;
}

.item-primary-tags {
    margin-left: 30px;
    font-size: 18px;
}

#more_blogs a {
	font-weight: bold;
	display: block;
	position: relative;
	width: 100%;
	color: #4a4a4a;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
}

#item-base-info {
    height: 350px;
    overflow: auto;
}