html,
body {
    height: 60%;
    width: 100%;
}

header {
    font-size: 42px;
}

#external-events {
    float: left;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    width: 280px;
}

#travel-info-list {
    margin-top: 20px;
    height: 800px;
    overflow: auto;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    margin-right: 10px;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

.travelinfo-image {
    width: 70px;
    height: 70px;
}

.travelinfo-text {
    margin-left: 10px;
    padding-right: 0px;
}

.travelinfo-title {
    font-weight: 600;
    font-size: 12px;
}

.travelinfo-sigungu {
    font-size: 11px;
}

.travelinfo-contenttype {
    font-size: 11px;
}

.nav-tab {
    width: 50%;
}

.nav-tab a {
    background-color: #eee !important;
}

.search {
    margin-top: 10px;
}
