.item-title {
    font-size: 17px;
    color: #333;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 10px;
    word-wrap: break-word;
}

.item-ext {
    font-size: 15px;
    font-weight: 400;
    color: #888;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}