{% extends "base.html" %}

{% load static i18n account %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'vendor/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet">
    <link href="{% static 'css/account/account.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="spacer-xl"></div>
        <div class="spacer-xl"></div>
        <div class="account-pannel">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1>{% trans "비밀번호 초기화" %}</h1>
                    <div class="spacer-xs"></div>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <div class="spacer-xs"></div>
                    <p>{% trans "비밀번호를 잊으셨나요? 아래에 당신의 이메일을 입력하시면, 비밀번호 초기화 이메일을 전송해 드리겠습니다." %}</p>
                    <div class="spacer-xs"></div>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <input class="btn btn-primary btn-block" type="submit" value="{% trans '비밀번호 초기화' %}"/>
                            </div>
                        </div>
                    </form>
                    <div class="spacer-xs"></div>
                    <p>{% blocktrans %}비밀번호 초기화에 문제가 있으시면 저희에게 연락주세요.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
