{% extends "base.html" %}

{% load static i18n crispy_forms_tags %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/account/profile.css' %}" rel="stylesheet">
    <link href="{% static 'css/travel_schedule/profile_schedule_list.css' %}" rel="stylesheet">
    <link href="{% static 'css/travel_bookmark/travel_bookmark_list.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="spacer-lg"></div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% include 'account/snippets/user_info.html' %}
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="spacer-lg"></div>
    <div class="row">
        <div class="col-md-3">
            {% include 'account/snippets/menu.html' %}
        </div>
        <div id="items" class="col-md-9">
        </div>
    </div>
    <div class="spacer-xl"></div>
    {% include 'account/snippets/profile_update_modal.html' %}
    {% include 'account/snippets/profile_password_change_modal.html' %}
    {% include 'account/snippets/profile_delete_modal.html' %}
    {% include 'account/snippets/schedule_delete_modal.html' %}
    {% include 'account/snippets/travelbookmark_delete_modal.html' %}
    {% include 'account/snippets/schedulebookmark_delete_modal.html' %}
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>
        $(document).ready(function () {

            $('.user-info').hover(
                function () {
                    $(this).find('.update-profile').removeClass('hidden');
                }, function () {
                    $(this).find('.update-profile').addClass('hidden');
                }
            );

            $('#pwd-change-modal').on('hidden.bs.modal', function () {
                location.href = '{{ user.get_absolute_url }}';
            });

            $(document).on('mouseover', '.schedule-item, .bookmark-item', function () {
                $(this).find('.delete').removeClass('hidden');
            });

            $(document).on('mouseleave', '.schedule-item, .bookmark-item', function () {
                $(this).find('.delete').addClass('hidden');
            });

            $(document).on('click', '.delete', function (e) {
                e.preventDefault();
            });

            $('#schedule-delete-modal, #travelbookmark-delete-modal, #schedulebookmark-delete-modal')
                .on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);
                    var id = button.data('id');
                    var form = $(this).find('form');
                    form.attr('action', form.attr('action').replace('0', id));
                });

            {% if form.errors %}
                $('.update-profile button').click();
            {% endif %}
            {% if passwordchangeform.errors %}
                $('.change-pwd a').click();
            {% endif %}

            var menu_click = function (elm) {
                $('#menu .active').removeClass('active');
                elm.addClass('active');
            };

            var get_items = function (url) {
                $.ajax({
                    type: 'GET',
                    url: url,
                    contentType: 'application/json',
                    dataType: 'html',
                    success: function (result) {
                        $('#items').html(result);
                    },
                    error: function (req, status, error) {
                        alert('여행 일정을 가져오는데 문제가 있습니다. 관리자에게 문의하세요.');
                    }
                });
            };

            var schedule_url = "{% url 'profile:schedule_list' tmuser.id %}";
            var travelbookmark_url = "{% url 'profile:travel_bookmark_list' tmuser.id %}";
            var schedulebookmark_url = "{% url 'profile:schedule_bookmark_list' tmuser.id %}";
            get_items(schedule_url);

            $('#travelschedule').click(function () {
                menu_click($(this));
                get_items(schedule_url);
            });

            $('#travelbookmark').click(function () {
                menu_click($(this));
                get_items(travelbookmark_url);
            });

            $('#schedulebookmark').click(function () {
                menu_click($(this));
                get_items(schedulebookmark_url);
            });
        })
    </script>
{% endblock %}
