{% extends "base.html" %}

{% load static i18n crispy_forms_tags %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/travelschedule_list.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="spacer-lg"></div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% include 'account/snippets/user_info.html' %}
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'account/snippets/profile_update_modal.html' %}
        {% include 'account/snippets/profile_delete_modal.html' %}
        {% include 'account/snippets/schedule_delete_modal.html' %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="spacer-lg"></div>
                <div class="row">
                    {% include 'account/snippets/schedule_list.html' %}
                </div>
                <div class="spacer-sm"></div>
                <div class="row">
                    <div class="center">
                        <a class="btn btn-tm" href="{% url 'travel_schedule:create' %}">여행 일정 만들기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type='text/javascript'>
        $(document).ready(function () {
            $('.schedule-item').hover(
                function () {
                    $(this).find('.delete-schedule').removeClass('hidden');
                }, function () {
                    $(this).find('.delete-schedule').addClass('hidden');
                }
            );

            $('.delete-schedule').click(function (e) {
                e.preventDefault();
            });

            $('.user-info').hover(
                function () {
                    $(this).find('.update-profile').removeClass('hidden');
                }, function () {
                    $(this).find('.update-profile').addClass('hidden');
                }
            );

            $('#profile-update-modal').on('show.bs.modal', function (e) {
            });

            {% if form.errors %}
                $('.update-profile button').click();
            {% endif %}
        })
    </script>
{% endblock %}
