html,
body {
    height: 70%;
    width: 100%;
}

section {
    padding: 100px 0;
}

p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

hr {
    border-color: #4292c6;
    border-width: 3px;
    max-width: 60px;
}

hr.light {
    border-color: white;
}

.fa-4x {
    font-size: 4em;
}

.btn {
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

.btn-normal {
    color: #222;
    background-color: #fff;
    border-color: #fff;
    transition: all .35s;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
}

@media (min-width: 992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.call-to-action h3 {
    margin: 0 auto 20px;
}

.no-padding {
    padding: 0;
}

.item-list-title {
    font-size: 24px;
    font-weight: 700;
}

.item-title {
    font-size: 17px;
    color: #333;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 10px;
    word-wrap: break-word;
}

.item-ext {
    font-size: 15px;
    font-weight: 400;
    color: #888;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.schedule-item-link:hover {
    text-decoration: none;
}

.item {
    height: 200px;
    color: #fff;
    background: url("../../img/schedule_item_bg.jpg");
    background-size: 100%;
}

.schedule-item-bg {
    height: 100%;
    background: rgba(0, 0, 0, .3);
    padding: 15px 15px 15px 15px;
}

.schedule-item-title {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
    margin-top: 0px !important;
}

.schedule-item-overview {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

.owner-img {
    width: 30px;
    height: 30px;
}

.owner-name {
    font-size: 14px;
    font-weight: 500;
}

.review-user-profile-img {
    width: 40px;
    height: 40px;
}

.review-user-name {
    color: #122b40;
    font-size: 15px;
    font-weight: bold;
}

.review-user-profile-img a, .review-user-profile-img a:focus, .review-user-name a, .review-user-name a:focus{
    color: #333 !important;
}

.review-time {
    color: #23527c;
    font-size: 12px;
}

.review-content {
    max-height: 500px;
    overflow:hidden;
}

.more-review {
    font-weight: bold;
    display: block;
    width: 100%;
    color: #4a4a4a !important;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

#rating-text {
    margin-left: 10px;
    font-size: 18px;
}
