{% load crispy_forms_tags %}

<div class="modal fade" id="profile-update-modal" tabindex="-1" role="dialog"
     aria-labelledby="profile-update-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="profile-update-modal-label">회원 정보 설정</h4>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    {{ form|crispy }}
                    <div id="profile-update-ext">
                        {% if not user.is_social %}
                            <span class="change-pwd">
                                <a href="javascript:void(0)" data-toggle="modal"
                                   data-target="#pwd-change-modal" data-dismiss="modal">
                                    비밀번호 변경
                                </a>
                            </span>
                            <span> | </span>
                        {% endif %}
                        <span class="delete-user">
                            <a href="javascript:void(0)" data-toggle="modal"
                               data-target="#profile-delete-modal" data-dismiss="modal">
                                회원탈퇴
                            </a>
                        </span>
                    </div>
                    <div class="spacer-sm"></div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-block btn-tm-default">
                                확인
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-default" data-dismiss="modal">
                                취소
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>