<div class="modal fade" id="schedulebookmark-delete-modal" tabindex="-1" role="dialog"
     aria-labelledby="schedulebookmark-delete-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="schedulebookmark-delete-modal-label">책갈피 삭제</h4>
            </div>
            <div class="modal-body">
                책갈피를 정말 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <form action="{% url 'travel_bookmark:schedule_delete' 0 %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">삭제</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                </form>
            </div>
        </div>
    </div>
</div>