{% load static %}

<div class="user-info">
    <img class="img-thumbnail profile-img"
         src="{% if tmuser.thumbnail %}{{ tmuser.thumbnail.url }}{% else %}{% static 'img/no-photo.png' %}{% endif %}">
    <div>
        <h3>
            {% if tmuser.username %}
                {{ tmuser.username }}
            {% else %}
                {{ tmuser.email }}
            {% endif %}
        </h3>
    </div>
    <div>
        <a class="update-profile-introduction" role="button" data-toggle="modal"
           data-target="#profile-update-modal">
            자기소개를 입력해주세요.
        </a>
    </div>
    <div class="spacer-xs"></div>
    <div>
        <a class="user-profile-url" href="{{ tmuser.get_absolute_url }}">
            www.travel-maker.kr{{ tmuser.get_absolute_url }}
        </a>
    </div>
    <div class="spacer-xs"></div>
    {% if user == tmuser %}
        <div class="update-profile hidden">
            <button class="btn btn-tm" data-toggle="modal" data-target="#profile-update-modal">
                회원 정보 설정
            </button>
        </div>
    {% endif %}
</div>