{% extends "base.html" %}

{% load static i18n crispy_forms_tags account socialaccount %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/pages/home.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block header %}
    <header>
        <div class="spacer-lg"></div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2">
                {% if user.is_authenticated %}
                {% else %}
                    {% crispy form %}
                    <div class="spacer-xs"></div>
                    <div class="row text-center">
                        <div class="col-md-5">
                            <a href="{% url 'account_signup' %}">{% trans "회원가입" %}</a>
                        </div>
                        <div class="col-md-1">
                            |
                        </div>
                        <div class="col-md-5">
                            <a class="button secondaryAction"
                               href="{% url 'account_reset_password' %}">{% trans "비밀번호 찾기" %}</a>
                        </div>
                    </div>
                    <div class="social">
                        <div class="spacer-xs"></div>
                        <a class="btn btn-block btn-social btn-google" href="{% provider_login_url "google" %}">
                            <i class="fa fa-google"></i>
                            구글 계정으로 로그인
                        </a>
                        <div class="spacer-xs"></div>
                        <a class="btn btn-block btn-social btn-facebook"
                           href="{% provider_login_url "facebook" method="oauth2" %}">
                            <i class="fa fa-facebook"></i>
                            페이스북 계정으로 로그인
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading">Travel Maker</h1>
                    <hr class="light">
                    <p class="text-faded">
                        트래블 메이커는 국내 여행지에 대한 데이터 분석으로 스마트하게 여행 일정을 추천해 드립니다.<br>
                        다양한 국내 여행지 정보와 평가를 확인하고 맞춤형 여행 일정을 만들어보세요.<br>
                        당신의 행복한 여행을 트래블 메이커가 도와드립니다.<br>
                    </p>
                    <a href="{% url 'account_signup' %}" class="page-scroll btn btn-normal btn-xl sr-button">
                        회원 가입하기
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">서비스 소개</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-search text-primary sr-icons"></i>
                        <h3>여행지 정보 검색</h3>
                        <p class="text-muted">국내 26000여개의 여행지의 자세한 정보와 후기를 확인할 수 있습니다</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-calendar text-primary sr-icons"></i>
                        <h3>여행 일정 관리</h3>
                        <p class="text-muted">
                            여행 일정표 및 여행 노트를 관리하고 다른 회원들의 여행 일정을 살펴볼 수 있습니다
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="material-icons fa-4x text-primary sr-icons">sentiment_very_satisfied</i>
                        <h3>스마트 여행 추천</h3>
                        <p class="text-muted">
                            여행지 데이터 분석으로 개인 맞춤형 여행지 및 여행 일정을 추천 받을 수 있습니다
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x material-icons text-primary sr-icons">share</i>
                        <h3>친구와 여행 일정 공유</h3>
                        <p class="text-muted">친구와 여행 일정을 공유하고 함께 관리할 수 있습니다</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                {% for tourspot in top6_tourspot_list %}
                    <div class="col-lg-4 col-sm-6">
                        <a href="{{ tourspot.image }}" class="portfolio-box">
                            <img src="{{ tourspot.image }}" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        {{ tourspot.sigungu }}
                                    </div>
                                    <div class="project-name">
                                        {{ tourspot.title }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="bg-primary">
        <div class="container text-center">
            <div class="call-to-action">
                <h3>지금 Travel Maker에 로그인 해서 행복한 여행을 만들어 보세요</h3>
                <a href="{% url 'account_login' %}" class="btn btn-normal btn-xl sr-button">Travel Maker 로그인!</a>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">문의</h2>
                    <hr class="primary">
                    <p>궁금한 점이나 제안하실 것이 있나요? 아래 방법으로 문의 주시면 가능한 빠르게 답변 드리겠습니다.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:travelmaker@gmail.com">travelmaker@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
