{% extends "base.html" %}

{% load static i18n crispy_forms_tags account socialaccount %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-social/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block header %}
    <header>
        <div class="spacer-lg"></div>
        <div class="row">
            {# TODO #}
        </div>
    </header>
{% endblock header %}

{% block content %}

{% endblock content %}
