{% extends "base.html" %}

{% load static i18n %}

{% block title %}Travel Maker - {{ travelinfo.title }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/travel_info.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div id="map"></div>
    <div id="map-extend" class="text-center">
        <button class="btn btn-block btn-default">
            지도 크게 보기 <i class="fa fa-caret-down"></i>
        </button>
    </div>
    <div id="item-header">
        <div class="container">
            <div class="spacer-sm"></div>
            <div id="item-header-top">
                <div class="row">
                    <div class="item-header-left col-md-9">
                        <span class="item-title">{{ travelinfo.title }}</span>
                        <span class="item-primary-tags">
                            {% for tag in travelinfo.primary_three_tags %}
                                {{ tag.0 }}{% if forloop.counter < 3 %},{% endif %}
                            {% endfor %}
                        </span>
                    </div>
                    <div class="item-header-right col-md-3">
                        <span id="rating"></span>
                        {% if google_reviews %}
                            <span id="rating-text">{{ travelinfo.rating }} 점</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="spacer-xs"></div>
            <div class="item-header-divider"></div>
            <div class="spacer-xs"></div>
            <div id="item-header-bottom">
                <div class="row">
                    <div class="item-header-left">
                        <div class="col-md-1">
                            <div class="item-stat-count">97</div>
                            <div class="item-stat-title">점수</div>
                        </div>
                        <div class="col-md-1">
                            <div class="item-stat-count">
                                {% if google_reviews %}
                                    {{ google_reviews.count }}
                                {% else %}
                                    0
                                {% endif %}
                            </div>
                            <div class="item-stat-title">평가</div>
                        </div>
                        <div class="col-md-1">
                            <div class="item-stat-count">
                                {% if travelinfo.blogs %}
                                    {{ travelinfo.blogs.count }}
                                {% else %}
                                    0
                                {% endif %}
                            </div>
                            <div class="item-stat-title">블로그</div>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="item-header-right col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <span>
                                    <i class="fa fa-pencil-square-o fa-lg"></i>
                                </span>
                                <span>
                                    <a>
                                        평가하기
                                    </a>
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span>
                                    <i class="fa fa-thumbs-o-up fa-lg"></i>
                                </span>
                                <span>
                                    <a>
                                        관심 여행지에 추가
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer-sm"></div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="spacer-md"></div>
    <div class="container">
        {% autoescape off %}
            <div id="item-info">
                <div class="row">
                    {% if travelinfo.image %}
                        <div id="item-image-info" class="col-md-6">
                            <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
                                    {% for img in travelinfo.travelimageinfo_set.all %}
                                        <li data-target="#carousel-generic" data-slide-to="{{ forloop.counter }}"></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="{{ travelinfo.image }}">
                                    </div>
                                    {% for img in travelinfo.travelimageinfo_set.all %}
                                        <div class="item">
                                            <img src="{{ img.originimgurl }}">
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="left carousel-control" href="#carousel-generic" role="button"
                                   data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-generic" role="button"
                                   data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div id="item-base-info" class="col-md-6">
                        {% if travelinfo.tel %}
                            <div id="item-info-tel">
                                <i class="fa fa-phone fa-lg"></i>
                                <span class="item-info-text">전화번호: {{ travelinfo.tel }}
                                    {% if travelinfo.traveloverviewinfo.telname %}
                                        ({{ travelinfo.traveloverviewinfo.telname }})
                                    {% endif %}
                                </span>
                            </div>
                            <div class="spacer-xs"></div>
                        {% endif %}
                        {% if travelinfo.addr1 %}
                            <div id="item-info-addr">
                                <i class="fa fa-map-marker fa-lg"></i>
                                <span class="item-info-text">주소: {{ travelinfo.addr1 }} {{ travelinfo.addr2 }}</span>
                            </div>
                            <div class="spacer-xs"></div>
                        {% endif %}
                        {% if travelinfo.traveloverviewinfo.homepage %}
                            <div id="item-info-homepage">
                                <i class="fa fa-home fa-lg"></i>
                                    <span class="item-info-text">홈페이지: {{ travelinfo.traveloverviewinfo.homepage }}</span>
                            </div>
                            <div class="spacer-xs"></div>
                        {% endif %}
                        {% if travelinfo.contenttype.name == "관광지" %}
                            {% with introinfo=travelinfo.tourspotintroinfo %}
                                {% if introinfo.accomcount %}
                                    <div id="item-info-accomcount">
                                        <i class="fa fa-users fa-lg"></i>
                                        <span class="item-info-text">수용인원: {{ introinfo.accomcount }}</span>
                                    </div>
                                    <div class="spacer-xs"></div>
                                {% endif %}
                                {% if introinfo.chkbabycarriage and introinfo.chkbabycarriage != "없음" %}
                                    <div id="item-info-chkbabycarriage">
                                        <i class="material-icons">child_friendly</i>
                                        <span class="item-info-text">유모차 대여 여부: {{ introinfo.chkbabycarriage }}</span>
                                    </div>
                                    <div class="spacer-xs"></div>
                                {% endif %}
                                {% if introinfo.chkcreditcard and introinfo.chkcreditcard != "없음" %}
                                    <div id="item-info-chkcreditcard">
                                        <i class="fa fa-credit-card fa-lg"></i>
                                        <span class="item-info-text">신용카드 가능 여부: {{ introinfo.chkcreditcard }}</span>
                                    </div>
                                    <div class="spacer-xs"></div>
                                {% endif %}
                                {% if introinfo.chkpet and introinfo.chkpet != "없음" %}
                                    <div id="item-info-chkpet">
                                        <i class="fa fa-paw fa-lg"></i>
                                        <span class="item-info-text">애완동물 동반 가능 여부: {{ introinfo.chkpet }}</span>
                                    </div>
                                    <div class="spacer-xs"></div>
                                {% endif %}
                                {% if introinfo.parking %}
                                    <div id="item-info-parking">
                                        <i class="material-icons">local_parking</i>
                                        <span class="item-info-text">주차 시설: {{ introinfo.parking }}</span>
                                    </div>
                                    <div class="spacer-xs"></div>
                                {% endif %}
                                {% if introinfo.expagerange %}
                                    <div id="item-info-expagerange">
                                        <i class="fa fa-check-square-o fa-lg"></i>
                                        <span class="item-info-text">체험 가능 연령: {{ introinfo.expagerange }}</span>
                                    </div>
                                    <div class="spacer-xs"></div>
                                {% endif %}
                                {% if introinfo.opendate %}
                                    <div id="item-info-opendate">
                                        <i class="fa fa-calendar-check-o fa-lg"></i>
                                        <span class="item-info-text">개장일: {{ introinfo.opendate }}</span>
                                    </div>
                                    <div class="spacer-xs"></div>
                                {% endif %}
                                {% if introinfo.restdate %}
                                    <div id="item-info-restdate">
                                        <i class="fa fa-calendar-times-o fa-lg"></i>
                                        <span class="item-info-text">쉬는날: {{ introinfo.restdate }}</span>
                                    </div>
                                    <div class="spacer-xs"></div>
                                {% endif %}
                                {% if introinfo.useseason %}
                                    <div id="item-info-useseason">
                                        <i class="fa fa-clock-o fa-lg"></i>
                                        <span class="item-info-text">이용시기: {{ introinfo.useseason }}</span>
                                    </div>
                                    <div class="spacer-xs"></div>
                                {% endif %}
                                {% if introinfo.usetime %}
                                    <div id="item-info-usetime">
                                        <i class="fa fa-clock-o fa-lg"></i>
                                        <span class="item-info-text">이용시간: {{ introinfo.usetime }}</span>
                                    </div>
                                    <div class="spacer-xs"></div>
                                {% endif %}
                            {% endwith %}
                        {% elif travelinfo.contenttype.name == "문화시설" %}
                            {% with introinfo=travelinfo.culturalfacilityintroinfo %}
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
                <div class="spacer-sm divider"></div>
                <div class="spacer-sm"></div>
                <div class="row">
                    <div id="item-overview-info">
                        <h3>개요</h3>
                        <div class="spacer-sm"></div>
                        <p>
                            {{ travelinfo.traveloverviewinfo.overview }}
                        </p>
                    </div>
                </div>
                <div class="spacer-sm divider"></div>
                <div class="spacer-sm"></div>
                {% if travelinfo.tourspotintroinfo.expguide %}
                    <div class="row">
                        <div id="item-guide-info">
                            <h3>안내</h3>
                            <div class="spacer-sm"></div>
                            <p>
                                {{ travelinfo.tourspotintroinfo.expguide }}
                            </p>
                        </div>
                    </div>
                    <div class="spacer-sm divider"></div>
                    <div class="spacer-sm"></div>
                {% endif %}

                {% if travelinfo.defaulttraveldetailinfo_set.all or travelinfo.tourcoursedetailinfo_set.all or travelinfo.lodgingdetailinfo_set.all %}
                    <div class="row">
                        <div id="item-detail-info">
                            <h3>상세 정보</h3>
                            <div class="spacer-sm"></div>
                            {% if travelinfo.contenttype.name == "관광지" %}
                                {% for detailinfo in travelinfo.defaulttraveldetailinfo_set.all %}
                                    <h5>{{ detailinfo.infoname }}</h5>
                                    <p>{{ detailinfo.infotext }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="spacer-sm divider"></div>
                    <div class="spacer-sm"></div>
                {% endif %}

                {% if google_reviews %}
                    <div class="row">
                        <div id="item-reviews-info">
                            <h3>유저 평가</h3>
                            <div class="spacer-sm"></div>
                            {% for review in google_reviews %}
                                <div class="row">
                                    <div class="col-md-1">
                                        {% if review.profile_photo_url %}
                                            <img class="review-user-profile-img img-circle"
                                                 src="https:{{ review.profile_photo_url }}" alt="">
                                        {% else %}
                                            <img class="review-user-profile-img img-circle"
                                                 src="{% static 'img/no-photo.png' %}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="row col-md-11">
                                        <div class="review-user-name row">
                                            {{ review.author_name }}
                                        </div>
                                        <div class="row">
                                            <div class="review-rating col-md-2">
                                                <div id="rating-{{ review.id }}"></div>
                                            </div>
                                            <div class="review-time col-md-10">
                                                {{ review.time }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spacer-sm"></div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="review-text col-md-11">
                                        {{ review.text }}
                                    </div>
                                </div>
                                <div class="spacer-sm divider"></div>
                                <div class="spacer-sm"></div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if travelinfo.blogs %}
                    <div class="row">
                        <div id="item-blogs-info">
                            <h3>추천 블로그</h3>
                            <div class="spacer-sm"></div>
                            {% for blog in travelinfo.primary_blogs %}
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-8">
                                        <div>
                                            <a href="{{ blog.link }}">{{ blog.title }}</a>
                                        </div>
                                        <div class="spacer-xs"></div>
                                        <div>
                                            {{ blog.description }}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div>
                                            DATE: {{ blog.postdate }}
                                        </div>
                                        <div>
                                            FROM: <a href="{{ blog.bloggerlink }}">{{ blog.bloggername }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="spacer-sm divider"></div>
                                <div class="spacer-sm"></div>
                            {% endfor %}
                        </div>
                        <div id="more_blogs">
                            <a href="javascript:void(0);">블로그 더 보기 <i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                {% endif %}
                <div class="spacer-md"></div>
            </div>
        {% endautoescape %}
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId={{ naverapi_client_id }}"></script>
    <script>
        var mapOptions = {
            center: new naver.maps.LatLng({{ travelinfo.mapy }}, {{ travelinfo.mapx }}),
            zoom: 6
        };

        var map = new naver.maps.Map('map', mapOptions);

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng({{ travelinfo.mapy }}, {{ travelinfo.mapx }}),
            map: map
        });

        $('#map-extend button').click(function () {
            var map_elm = $('#map');
            map_elm.toggleClass('extend');
            if (map_elm.hasClass('extend')) {
                $(this).html('지도 작게 보기 <i class="fa fa-caret-up"></i>');
            }
            else {
                $(this).html('지도 크게 보기 <i class="fa fa-caret-down"></i>');
            }

            map.destroy();
            map = new naver.maps.Map('map', mapOptions);
            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng({{ travelinfo.mapy }}, {{ travelinfo.mapx }}),
                map: map
            });
        });

        $.fn.raty.defaults.path = '/static/vendor/raty/images/';

        {% if travelinfo.rating %}
            $('#rating').raty({
                readOnly: true,
                space: false,
                half: true,
                starHalf: 'star-half-big.png',
                starOff: 'star-off-big.png',
                starOn: 'star-on-big.png',
                score: {{ travelinfo.rating }}
            });
        {% endif %}

        {% for review in google_reviews %}
            $('#rating-{{ review.id }}').raty({
                readOnly: true,
                space: false,
                score: {{ review.rating }}
            });
        {% endfor %}

        var page = 2;

        $('#more_blogs a').click(function (e) {
            $.ajax({
                type: 'GET',
                url: "{% url 'travel_info:blog_list_api' travelinfo.id %}",
                contentType: 'application/json',
                dataType: 'html',
                data: {
                    page: page
                },
                success: function (result) {
                    if (result.toString().length == 0) {
                        $('#more_blogs').remove();
                        return;
                    }
                    $('#item-blogs-info').append(result);
                    page += 1;
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}