{% autoescape off %}
    {% for info in travelinfo_list %}
        <div class="fc-event ui-draggable ui-draggable-handle">
            <div class="hidden travelinfo-id">{{ info.id }}</div>
            <div class="row">
                <div class="col-md-5 travelinfo-image">
                    <img class="travelinfo-image" src="{{ info.thumbnail }}">
                </div>
                <div class="col-md-7 travelinfo-text">
                    <div class="travelinfo-title">{{ info.title }}</div>
                    <div class="travelinfo-sigungu">{{ info.sigungu }}</div>
                    <div class="spacer-xs"></div>
                    <div class="spacer-xs"></div>
                    <div class="travelinfo-contenttype">{{ info.contenttype }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endautoescape %}