{% extends "base.html" %}

{% load static i18n %}

{% block title %}Travel Maker - {{ travelinfo.title }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/travel_info/travel_info.css' %}" rel="stylesheet">
    <link href="{% static 'css/travel_info/travel_info_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% if viewtype == 'popup' %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block header %}
    <div id="map"></div>
    <div id="map-extend" class="text-center">
        <button class="btn btn-block btn-default">
            지도 크게 보기 <i class="fa fa-caret-down"></i>
        </button>
    </div>
    {% include 'travel_info/snippets/item_header.html' %}
{% endblock header %}

{% block content %}
    <div class="spacer-md"></div>
    <div class="container">
        {% autoescape off %}
            <div id="item-info">
                <div class="row">
                    {% include 'travel_info/snippets/item_image_info.html' %}
                    {% include 'travel_info/snippets/item_base_info.html' %}
                </div>
                <div class="spacer-sm divider"></div>
                <div class="spacer-sm"></div>
                {% include 'travel_info/snippets/item_overview_info.html' %}
                <div class="spacer-sm divider"></div>
                <div class="spacer-sm"></div>
                {% include 'travel_info/snippets/item_expguide.html' %}
                <div class="spacer-sm divider"></div>
                <div class="spacer-sm"></div>
                {% include 'travel_info/snippets/item_detail_info.html' %}
                <div class="spacer-sm divider"></div>
                <div class="spacer-sm"></div>
                {% include 'travel_info/snippets/item_reviews_info.html' %}
                <div class="spacer-sm"></div>
                {% include 'travel_info/snippets/item_blogs_info.html' %}
                <div class="spacer-md"></div>
            </div>
        {% endautoescape %}
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId={{ naverapi_client_id }}"></script>
    <script>
        $(document).ready(function () {
            var mapOptions = {
                center: new naver.maps.LatLng({{ travelinfo.mapy }}, {{ travelinfo.mapx }}),
                zoom: 6
            };

            var map = new naver.maps.Map('map', mapOptions);

            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng({{ travelinfo.mapy }}, {{ travelinfo.mapx }}),
                map: map
            });

            var page = 2;

            $('#map-extend button').click(function () {
                var map_elm = $('#map');
                map_elm.toggleClass('extend');
                if (map_elm.hasClass('extend')) {
                    $(this).html('지도 작게 보기 <i class="fa fa-caret-up"></i>');
                }
                else {
                    $(this).html('지도 크게 보기 <i class="fa fa-caret-down"></i>');
                }

                map.destroy();
                map = new naver.maps.Map('map', mapOptions);
                var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng({{ travelinfo.mapy }}, {{ travelinfo.mapx }}),
                    map: map
                });
            });

            $.fn.raty.defaults.path = '/static/vendor/raty/images/';

            {% if travelinfo.rating %}
                $('#rating').raty({
                    readOnly: true,
                    space: false,
                    half: true,
                    starHalf: 'star-half-big.png',
                    starOff: 'star-off-big.png',
                    starOn: 'star-on-big.png',
                    score: {{ travelinfo.rating }}
                });
            {% endif %}

            {% for review in google_reviews %}
                $('#google-rating-{{ review.id }}').raty({
                    readOnly: true,
                    space: false,
                    score: {{ review.rating }}
                });
            {% endfor %}

            {% for review in travel_reviews %}
                $('#travel-rating-{{ review.id }}').raty({
                    readOnly: true,
                    space: false,
                    score: {{ review.rating }}
                });
            {% endfor %}

            $('.review-content').each(function () {
                var height = $(this).height();
                var max_height = parseInt($(this).css('max-height'));
                if (height >= max_height) {
                    var url = "{% url 'travel_review:detail' 0 %}".replace('0', $(this).find('.travel-review-id').val());
                    var more_review = '<a class="btn btn-block btn-default more-review" href="' + url + '">더보기</a>';
                    $(this).append(more_review);
                }
            });


            $('#more_blogs a').click(function (e) {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'travel_info:blog_list_api' travelinfo.id %}",
                    contentType: 'application/json',
                    dataType: 'html',
                    data: {
                        page: page
                    },
                    success: function (result) {
                        if (result.toString().length == 0) {
                            $('#more_blogs').remove();
                            return;
                        }
                        $('#item-blogs-info').append(result);
                        page += 1;
                    },
                    error: function (req, status, error) {
                        console.log(error);
                    }
                });
            });
        })
    </script>
{% endblock %}