.item-img {
    width: 300px;
    height: 200px;
}

.schedule-items a {
	color: #404041 !important;
}

.schedule-title {
	font-size: 30px;
}

.owner-info {
    margin-left: 10px;
}

.owner-img {
    width: 35px;
    height: 35px;
}

.owner-name {
    font-size: 16px;
    font-weight: 600;
}

.stat-area {
    position: relative;
    height: 200px;
}

.spots {
    position: absolute;
    bottom: 0;
}

#day-max {
    text-align: right;
}
