html,
body {
    height: 60%;
    width: 100%;
}

a:hover {
    text-decoration: none;
}

.schedule-item-overview {
    padding: 20px 20px 20px 20px;
    font-size: 15px;
}

.schedule-item-overview span {
    margin-left: 20px;
    margin-right: 20px;
}

.btn-active {
    background: #7bccc4;
    color: #fff;
}

.btn-inactive {
    background: #969696;
    color: #fff;
}

.owner-img {
    width: 100px;
    height: 100px;
}

.owner-email {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .35);
    word-break: break-all;
}

.nav-tabs .active {
    background: #fff;
}

#travel-info-list {
    margin-top: 20px;
    height: 800px;
    overflow: auto;
}

#external-events {
    border: 1px solid rgba(125, 125, 125, .6);
    border-top-width: 0;
    border-right-width: 0;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    margin-right: 10px;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

.travelinfo-image {
    width: 70px;
    height: 70px;
}

.travelinfo-text {
    margin-left: 10px;
    padding-right: 0;
}

.travelinfo-title {
    font-weight: 600;
    font-size: 12px;
}

.travelinfo-sigungu {
    font-size: 11px;
}

.travelinfo-contenttype {
    font-size: 11px;
}

.nav-tab {
    width: 50%;
}

.nav-tabs .active {
    border: 1px solid rgba(125, 125, 125, .6);
    border-bottom-width: 0;
    -webkit-box-shadow: 2px 0 0 0 rgba(125, 125, 125, .6);
}

.nav-tab a {
    border: 0 !important;
}

.search {
    margin-top: 10px;
}

#calendar-box {
    overflow: auto;
}

.mfp-iframe-holder .mfp-content {
    max-width: none;
    width: 80%;
}
