{% extends "base.html" %}

{% load static i18n scheduletags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fullcalendar/dist/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/travel_schedule/travel_schedule_detail.css' %}">
{% endblock %}

{% block header %}
    <header>
        <div class="spacer-xl"></div>
        <div class="spacer-md"></div>
        <div class="header-title">
            {{ travelschedule.title }}
        </div>
    </header>
{% endblock %}

{% block content %}
    {% get_or_create_calendar travelschedule as calendar %}
    <div class="spacer-md"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'travel_schedule/snippets/schedule_item_panel.html' %}
            </div>
            <div class="col-md-9">
                {% include 'travel_schedule/snippets/schedule_item_overview.html' %}
                <div class="spacer-xs"></div>
                <div id="calendar-box" class="box">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% get_or_create_calendar travelschedule as calendar %}
    {{ block.super }}
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'vendor/moment/moment.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar/dist/fullcalendar.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar/dist/locale/ko.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.btn-group-ispublic button').click(function () {
               var is_public = ($(this).attr('id') == 'btn-ispublic-true');
               var active_elm = $(this);
               $.ajax({
                    type: 'PUT',
                    url: "{% url 'travel_schedule:update_api' travelschedule.id %}",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        'is_public': is_public
                    }),
                    success: function (result) {
                        var msg = is_public ? '여행 일정이 공개 되었습니다.' : '여행 일정이 비공개 되었습니다.';
                        active_elm.removeClass('btn-inactive');
                        active_elm.addClass('btn-active');
                        var inactive_elm = is_public ? $('#btn-ispublic-false') : $('#btn-ispublic-true');
                        inactive_elm.removeClass('btn-active');
                        inactive_elm.addClass('btn-inactive');
                        alert(msg);
                    },
                    error: function (req, status, error) {
                        alert('공개/비공개 상태 변경에 문제가 있습니다. 관리자에게 문의하세요.');
                    }
                });
            });

            /* initialize the calendar
             -----------------------------------------------------------------*/
            $('#calendar').fullCalendar({
                header: {
                    left: '',
                    center: '',
                    right: ''
                },
                views: {
                    agendaDuration: {
                        type: 'agenda',
                        duration: {days: {{ travelschedule.duration_days }}},
                    }
                },
                defaultDate: moment('{{ travelschedule.start|date:"c" }}'),
                defaultView: 'agendaDuration',
                contentHeight: 'auto',
                lang: 'ko',
                editable: false,
                droppable: false,
                allDaySlot: false,
                events: [
                    {% for event in travelschedule.events %}
                        {
                            title: '{{ event.event.title }}',
                            start: '{{ event.event.start|date:"c" }}',
                            end: '{{ event.event.end|date:"c" }}',
                            travel_info: {{ event.travel_info.id }},
                            allDay: false
                        },
                    {% endfor %}
                ],
                eventClick: function (event, jsEvent, view) {
                    var url = "{% url 'travel_info:detail' 0 %}".replace('0', event.travel_info);
                    url += '?viewtype=popup';
                    $.magnificPopup.open({
                        items: [
                            {
                                src: url,
                                type: 'iframe'
                            }
                        ]
                    });
                },
                viewRender: function (view, element) {
                    var days = {{ travelschedule.duration_days }};

                    if (days > 3) {
                        var width_percent = (days * 25) + '%';
                        element.css('width', width_percent);
                    }
                }
            });
        });
    </script>
{% endblock %}