{% extends "base.html" %}

{% load static i18n scheduletags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fullcalendar/dist/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/travel_schedule/travel_schedule_detail.css' %}">
{% endblock %}

{% block header %}
    <header>
        <div class="spacer-xl"></div>
        <div class="spacer-md"></div>
        <div class="header-title">
            {{ travelschedule.title }}
        </div>
    </header>
{% endblock %}

{% block content %}
    {% get_or_create_calendar travelschedule as calendar %}
    <div class="spacer-md"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'travel_schedule/snippets/schedule_item_panel.html' %}
            </div>
            <div class="col-md-9">
                {% include 'travel_schedule/snippets/schedule_item_overview.html' %}
                <div class="spacer-xs"></div>
                <div id="calendar" class="box"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% get_or_create_calendar travelschedule as calendar %}
    {{ block.super }}
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'vendor/moment/moment.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar/dist/fullcalendar.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar/dist/locale/ko.js' %}"></script>
    <script>
        $(document).ready(function () {
            /* initialize the calendar
             -----------------------------------------------------------------*/
            $('#calendar').fullCalendar({
                header: {
                    left: '',
                    center: '',
                    right: ''
                },
                views: {
                    agendaDuration: {
                        type: 'agenda',
                        duration: {days: {{ travelschedule.duration_days }}},
                    }
                },
                defaultDate: moment('{{ travelschedule.start|date:"c" }}'),
                defaultView: 'agendaDuration',
                contentHeight: 'auto',
                lang: 'ko',
                editable: false,
                droppable: false,
                allDaySlot: false,
                events: [
                    {% for event in travelschedule.events %}
                        {
                            title: '{{ event.event.title }}',
                            start: '{{ event.event.start|date:"c" }}',
                            end: '{{ event.event.end|date:"c" }}',
                            travel_info: {{ event.travel_info.id }},
                            allDay: false
                        },
                    {% endfor %}
                ],
                eventClick: function (event, jsEvent, view) {
                    var url = "{% url 'travel_info:detail' 0 %}".replace('0', event.travel_info);
                    url += '?viewtype=popup';
                    $.magnificPopup.open({
                        items: [
                            {
                                src: url,
                                type: 'iframe'
                            }
                        ]
                    });
                }
            });
        });
    </script>
{% endblock %}