{% extends "base.html" %}

{% load static i18n crispy_forms_tags %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/accounts.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="spacer-xl"></div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="" method="post">
                    {% crispy form %}
                    <button class="btn btn-primary btn-block" id="id-submit" type="submit">여행 일정 생성</button>
                </form>
            </div>
        </div>
    </header>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $.datepicker.setDefaults({
                dateFormat: 'yy-mm-dd',
                prevText: '이전 달',
                nextText: '다음 달',
                monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                dayNames: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                showMonthAfterYear: true,
                yearSuffix: '년'
            });

            $(function () {
                $(".dateinput").datepicker();
            });
        });
    </script>
{% endblock %}