{% extends "base.html" %}

{% load static i18n crispy_forms_tags scheduletags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/travel_schedule/travel_schedule_detail.css' %}">
{% endblock %}

{% block header %}
    <header>
        <div class="spacer-xl"></div>
        <div class="spacer-md"></div>
        <div class="header-title">
            {{ travelschedule.title }}
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="spacer-md"></div>
    <div class="container">
        <form action="" method="post">
            {% crispy form %}
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-block btn-tm-default" id="id-submit" type="submit">설정 완료</button>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-block btn-default" href="{% url 'travel_schedule:detail' travelschedule.id %}">
                        취소
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="spacer-xl"></div>
{% endblock %}
