{% extends "base.html" %}

{% load static i18n crispy_forms_tags %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/travel_schedule/travel_schedule_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
        <div class="spacer-xl"></div>
        <div class="spacer-md"></div>
        <div class="header-title">
            여행 일정 생성
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="spacer-md"></div>
    <div class="container">
        <form action="" method="post">
            {% crispy form %}
            <div class="col-md-6">
                <button class="btn btn-block btn-tm" id="id-submit" type="submit">여행 일정 생성</button>
            </div>
            <div class="col-md-6">
                <a class="btn btn-block btn-default" href="{{ user.get_absolute_url }}">
                    취소
                </a>
            </div>
        </form>
    </div>
    <div class="spacer-xl"></div>
{% endblock %}
